body {
    background-image: url("../images/grey_@2X.png");
}

.navbar {
    background: #00bfa5;
}

.page-footer {
    background: #00bfa5;
}

.btn {
    background: #00bfa5;
}

.title-text {
    color: #00bfa5;
}

.link-style:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px){

    .card {
        margin: 0 auto;
    }

}